.full-width-table {
  width: 100%;
}

.data-table{
  width: 100%;
  margin: 10px auto;
}

.images{
  width: 30px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 2px;
}

.mat-row:hover {
  background-color: #F0EBF4;
}
