<h1 style="color: gray;">{{languageService.show('chart_title')}}</h1>

<mat-card>
  <mat-card-content>
    <app-linechart00></app-linechart00>
  </mat-card-content>
</mat-card>

<br>

<mat-card>
  <mat-card-content>
    <app-piechart></app-piechart>
  </mat-card-content>
</mat-card>

<br>

<mat-card>
  <mat-card-content>
    <app-barchart00></app-barchart00>
  </mat-card-content>
</mat-card>

<br>

<mat-card>
  <mat-card-content>
    <app-linechart02></app-linechart02>
  </mat-card-content>
</mat-card>

<br>

<mat-card>
  <mat-card-content>
    <app-barchart01></app-barchart01>
  </mat-card-content>
</mat-card>

<br>

<mat-card>
  <mat-card-content>
    <app-barchart02></app-barchart02>
  </mat-card-content>
</mat-card>

<br>

<mat-card>
  <mat-card-content>
    <app-barchart03></app-barchart03>
  </mat-card-content>
</mat-card>

<br>

<mat-card>
  <mat-card-content>
    <app-linechart01></app-linechart01>
  </mat-card-content>
</mat-card>

<br>

